/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss";


.header{
  display:flex;
  justify-content: space-between;
  height:120px;
  margin:10px;
  padding:10px;
  border:1px solid black;
}
.logo1 > img{
  width:150px;
  height:100px;
}
.nav-details > ul{
  display:flex;
  font-size:24px;
  margin:10px;
  padding:10px;
  list-style:none;
}
.nav-details > ul > li{
  display: flex;
  justify-content: center;
  margin:10px;
  padding:10px;
  border:1px solid black;  
  background-color: #f0f0f0;
}
.res-container{
  margin:5px;
  padding:5px;
  display:flex;
  flex-wrap:wrap;
}
.res-card {
  background-color: #f0f0f0;
  margin:5px;
  padding:5px;
  width:250px;
  height:400px;
  font-size:14px;
  border:1px solid black;
}
.res-card:hover{
  cursor:pointer;
  border:2px solid black;
}
.res-image{
  width:200px;
  height:200px;
}
.loginbtn{
  width:50px;
  height:50px;
}
.lbuttons{
  display:flex;
  justify-content: space-between;
}
.filter{
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  margin:10px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
}
.filter:hover{
  background-color: #1d4ed8;
}
.search{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
  margin:20px;
}
.search-box{
  display:flex;
  
}
.search-btn{
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  margin:10px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
  
  
}
.search-bar{
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
  margin:10px;
}
.search-btn:hover{
  background-color: #1d4ed8;
}
.img-logo>img{
  width:250px;
  height:200px;
}

.user-card{
 font-size: 24px;
 border-style: dotted;
}

